.notes {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 160px;

  &__h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    margin-right: 40px;
    background-color: gainsboro;
    @media screen and (max-width: 1050px) {
      width: 120px;
      height: 120px;
    }
    @media screen and (max-width: 480px) {
      width: 80px;
      height: 80px;
      margin-right: 8px;
    }
  }
}

.selects {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  &__selectbox {
    width: 160px;
    height: auto;
    text-align: center;
    margin-right: 40px;
    select {
      font-size: 16px;
    }
    @media screen and (max-width: 1050px) {
      width: 120px;
      select {
        font-size: 12px;
      }
    }
    @media screen and (max-width: 480px) {
      width: 48px;
      select {
        font-size: 12px;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  &__btn {
    width: 120px;
    height: auto;
    margin-right: 16px;
    font-size: 20px;

    &--play {
      background-color: red;
    }

    &--refresh {
      background-color: greenyellow;
    }

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }
}
